<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surveys</title>
</head>
<body>
    <h1> Survey Generator </h1>
    <form action = "/submit" method = "POST"> 
        

        <textarea placeholder="Describe the survey..." name="prompt" style="height: 200px; width: 100%; font-size: 20px; font-family: 'Lucida Console', Monaco, monospace;"></textarea>

        <button type = "submit">Submit</button>
    </form>
</body>
</html>
